<p style="color: green"><%= notice %></p>

<div class="px-4 mx-auto max-w-4xl lg:py-8">
  <h2 class="mb-4 text-xl font-semibold leading-none text-gray-900 md:text-2xl sm:mb-5">Items</h2>

  <%= Time.zone.now %>

  <div id="items" class="flex flex-col divide-y">

    <% @items.each do |item| %>
      <%= render item %>
    <% end %>

    <%= turbo_frame_tag Item.new do %>
      <%= link_to new_item_path, class: 'py-2 hover:text-primary-700 group/new-item flex items-center gap-2' do %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1" stroke="currentColor" class="text-primary-500 w-6 h-6 group-hover/new-item:hidden">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
        </svg>

        <svg xmlns="http://www.w3.org/2000/svg" fill="#843dff" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 hidden group-hover/new-item:block text-white">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
        </svg>

        New item
      <% end %>
    <% end %>

  </div>

</div>
