<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <div class="bg-gray-50">
      <%= render 'shared/sidenav' %>

      <main class="p-4 md:ml-64 h-auto pt-20">
        <%= yield %>
      </main>
    </div>

  </body>
</html>
